<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>CleanPhotography - Photography </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon"
          th:href="@{../static/images/favicon.ico}">
    <link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png"
          th:href="@{../static/images/apple-touch-icon.png}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/responsive.css" th:href="@{/responsive.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/custom.css" th:href="@{/custom.css}">
    <link rel="stylesheet" href="../static/demo.css" th:href="@{/demo.css}">
    <link rel="stylesheet" href="../static/slideshow.css" th:href="@{/slideshow.css}">

    <!--         <script src="../js/modernizr.js" th:href="@{/modernizr.js}"></script>  Modernizr &ndash;&gt;-->

</head>

<body>

<nav th:replace="/fragments/organizer-navbar.html :: navbar"></nav>

<section id="home" th:unless="${currentlyLoggedInUser.isOrganizer() == true}" class="main-banner parallaxie" style="background: url('https://images.unsplash.com/photo-1502982720700-bfff97f2ecac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    background-size: cover;">
    <div class="heading">
        <h1>Are you ready to try?</h1>
        <p>“Winning is something, but participation is everything.”</p>
        <p> ― Debasish Mridha</p>
        <div class="gallery-menu text-center row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</section>
<!-- FOR ORGANIZERS -->
<div>
    <div th:if="${currentlyLoggedInUser.isOrganizer() == true}">
        <section id="home1" class="main-banner parallaxie"
                 style="background: url('https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80');
    background-size: cover;">
            <div class="heading">
                <h1>Hey, dear member of the jury!</h1>
                <p>It will soon be time to rate on the entries in this contest. Why don't you take a look at how things
                    are
                    going?</p>
                <div class="gallery-menu text-center row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </section>

        <div class="row-contest" style="margin-top: 30px">
            <div class="column" th:each="photo, photoCount : ${photos}">
                <div class="image-title">
                    <input type="hidden" id="yourId" th:value="${photo.getId()}"/>
                    <div>
                        <img src="img_nature.jpg" onclick="openModal();currentSlide(1)"
                             class="hover-shadow cursor img-grid" th:src="${photo.getPhoto()}">
                        <figcaption th:utext="#{title.dynamic(${photo.getTitle()})}"> Title</figcaption>
                        <figcaption th:utext="#{author.dynamic(${photo.getUser().getUsername()})}"> Author</figcaption>
                    </div>

                </div>

            </div>
        </div>

        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">
                <div class="mySlides" th:each="photo : ${photos}">
                    <div>
                        <div class="numbertext">
                        </div>
                        <div class="image-container">
                            <img src="img_nature_wide.jpg" class="img" th:src="${photo.getPhoto()}">
                        </div>
                        <div class="text-block">
                            <figcaption class="text-h3" th:text="${photo.getTitle()}"> Title</figcaption>
                            <figcaption class="text-h3" th:text="${photo.getUser().getUsername()}"> Author</figcaption>
                            <figcaption class="text-h3" th:text="${photo.getStory()}"> Story</figcaption>
                        </div>
                    </div>
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>

            </div>
        </div>


        <script>
            function openModal() {
                document.getElementById("myModal").style.display = "block";
            }

            function closeModal() {
                document.getElementById("myModal").style.display = "none";
            }

            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("demo");
                var captionText = document.getElementById("caption");
                if (n > slides.length) {
                    slideIndex = 1
                }
                if (n < 1) {
                    slideIndex = slides.length
                }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                captionText.innerHTML = dots[slideIndex - 1].alt;
            }
        </script>
    </div>
</div>
<!-- FOR JUNKIES -->


<div th:unless="${currentlyLoggedInUser.isOrganizer() == true}">
    <div class="container">

        <div class="section-title text-center">
            <h3>What this contest is all about...</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="contact_form">


                    <div class="col-md-12" style="font-family:verdana">
                        <span style="font-family:verdana"> Title: </span>
                        <span style="font-family:verdana" th:text="*{contest.getTitle()}"> Title </span>
                    </div>


                    <div class="col-md-12">
                        <span style="font-family:verdana"> Story: </span>
                        <span style="font-family:verdana" th:text="*{contest.getDescription()}"> Title </span>
                    </div>

                    <div class="col-md-12">
                        <span style="font-family:verdana"> Category: </span>
                        <span style="font-family:verdana" th:text="*{contest.getCategory().getName()}"> Title </span>
                    </div>
                    <div class="col-md-12">
                        <span th:text=" 'Phase I end date: ' + ${#dates.format(contest.getPhaseOneEnd, 'dd-MMM-yyyy')}"></span>
                        <span th:text=" 'Phase II end date: ' + ${#dates.format(contest.getPhaseTwoEnd, 'dd-MMM-yyyy')}"></span>
                    </div>
                </div>

            </div><!-- end col -->
        </div><!-- end row -->
        <div th:if="${isUserParticipate == false}">
            <div class="section-title text-center">
                <h3>Submit an entry to this contest</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="contact_form">
                        <div id="message"></div>
                        <fieldset>
                            <form class="file-upload" action="#" enctype="multipart/form-data"
                                  th:action="@{/contests/{contestId}/submission(contestId=${contest.getId()})}"
                                  th:object="${newPhoto}" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Title: </label>
                                        <br/>
                                        <div class="col-md-12">

                                            <input type="text" th:field="*{title}"/>

                                        </div>
                                        <label>Story: </label>
                                        <br/>
                                        <div class="col-md-12">

                                            <textarea type="text" th:field="*{story}" class="text-area-phase-one"></textarea>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="image" class="form-control-file">
                                    </div>
                                    <button type="submit" class="btn-secondary like-review">Submit an entry to this
                                        contest!
                                    </button>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->


        <div th:if="${isUserParticipate == true}">
            <div class="section-title text-center">
                <h3>You are already participating.</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="contact_form" th:each="photo : ${singlePhoto}">
                        <h3>Your submission</h3>
                        <div>
                            <img style="max-width: 100%" src="../static/uploads/banner-01.jpg"
                                 th:src="${photo.getPhoto()}">
                        </div>
                        <div>
                            <span th:text=" 'Title: ' + ${photo.getTitle()}"></span>
                        </div>
                        <div>
                            <span th:text=" 'Story: ' + ${photo.getStory()}"></span>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->

        </div>
    </div><!-- end container -->
    <!-- end section -->
</div>

<!--    <footer th:replace="/fragments/footer.html :: footer"></footer>-->


</div>


</body>
</html>
