<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>CleanPhotography - Photography </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon"
          th:href="@{/static/images/favicon.ico}">
    <link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png"
          th:href="@{/static/images/apple-touch-icon.png}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/responsive.css" th:href="@{/responsive.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/custom.css" th:href="@{/custom.css}">
    <script src="../js/modernizr.js" th:href="@{/modernizr.js}"></script> <!-- Modernizr -->

    <!--[if lt IE 9
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" ></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->

</head>
<body id="page-top" class="politics_version">

<nav  th:replace="/fragments/organizer-navbar.html :: navbar"></nav>

<div id="gallery" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>ALL CONTESTS</h3>
        </div><!-- end title -->
        <div class="gallery-menu text-center row">
            <div class="col-md-12">
                <div class="button-group filter-button-group">
                    <button class="active" data-filter="*">All</button>
                    <button data-filter=".photo_a">First Stage</button>
                    <button data-filter=".photo_b">Second stage</button>
                    <button data-filter=".photo_c">Finished</button>
                </div>
            </div>
        </div>

        <div class="gallery-list row" th:each="contest : ${contests}">
            <div class="col-md-4 col-sm-6 gallery-grid photo_a">
                <div class="gallery-single fix">
                    <img src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid" alt="Image"
                         th:src="${contest.getCoverPhoto()}">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title" th:text="${contest.getTitle()}">Weddings</h3>
                        </div>
                        <ul class="icon">
                            <li><a href="" data-rel="prettyPhoto[gal]" th:href="@{/contests{id} (id=${contest.getId()})}" ><i
                                    class="fa fa-search"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/fragments/footer.html :: footer"></footer>


<!-- ALL JS FILES -->
<script src="../js/all.js" th:src="@{/js/all.js}"></script>
<!-- Camera Slider -->
<script src="../js/jquery.mobile.customized.min.js"></script>
<script src="../js/jquery.easing.1.3.js" th:src="@{/js/jquery.easing.1.3.js}"></script>
<script src="../js/parallaxie.js" th:src="@{/js/parallaxie.js}"></script>
<script src="../js/headline.js" th:src="@{/js/headline.js}"></script>
<script src="../js/jquery.appear.min.js" th:src="@{/js/jquery.appear.min.js}"></script>
<script src="../js/skill.bars.jquery.js" th:src="@{/js/skill.bars.jquery.js}"></script>
<!--<script src="../js/responsiveslides.min.js"></script>-->
<!-- Contact form JavaScript -->
<script src="../js/jqBootstrapValidation.js" th:src="@{/js/jqBootstrapValidation.js}"></script>
<script src="../js/contact_me.js" th:src="@{/js/contact_me.js}"></script>
<!-- ALL PLUGINS -->
<script src="../js/jquery.fatNav.min.js" th:src="@{/js/jquery.fatNav.min.js}"></script>
<!--<script src="../js/main.js" th:src="@{../js/main.js}"></script>-->
<script src="../js/custom.js" th:src="@{/js/custom.js}"></script>

</body>
</html>