<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Create a new contest</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" th:href="@{../static/images/favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{../static/images/apple-touch-icon.png}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/responsive.css" th:href="@{/responsive.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/custom.css" th:href="@{/custom.css}">

    <script src="../js/modernizr.js" th:href="@{/modernizr.js}"></script> <!-- Modernizr -->


</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<body id="page-top" class="politics_version">

<nav th:replace="/fragments/organizer-navbar.html :: navbar"></nav>

<section th:fragment="cover" id="home" class="dashboard-banner parallaxie" style="background:
url('https://images.unsplash.com/photo-1598965914211-6ec6872593a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHN1bnxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60');
    background-size: cover;">

    <div class="heading">
        <h1>Create a new contest</h1>
    </div>

</section>

<div id="contact" class="section db" >
    <div class="container" style="max-width: 1000px">
        <div id="message"></div>
        <fieldset>
            <form class="file-upload" enctype="multipart/form-data" action="#"
                  th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${contest}" method="post">
                <div class="contact_form">
                    <div class="roww-users">
                        <label>Title: </label>
                        <br/>
                        <label style="width: 100%">
                            <input style="width: 100%;" type="text" th:field="*{title}"/>
                        </label>

                        <br>

                    </div>
                    <label>Description: </label>
                    <div class="col-md-12" style="padding: 0px">
                        <label style="width: 100%">
                                            <textarea style="width: 100%; padding: 0px" type="text"
                                                      th:field="*{description}"></textarea>
                        </label>
                        <label class="error" th:errors="*{description}">Description error
                            placeholder</label>
                    </div>

                    <div style="padding-bottom: 50px">
                        <label> Select category</label>
                        <select th:field="*{categoryId}">
                            <option th:each="category : ${categories}"
                                    th:value="${category.getId()}"
                                    th:text="${category.getName()}">
                                CategoryOne
                            </option>
                        </select>

                        <label class="error" th:errors="*{categoryId}">Category error
                            placeholder</label>
                    </div>

                    <!-- Last name -->

                    <div class="row" style="padding-bottom: 20px">
                        <div class="col-md-3" style="display: inline-block">
                            <label>Start of Phase 1: </label>
                            <br>
                            <label>
                                <input type="date" th:field="*{phaseOneStart}"/>
                            </label>
                        </div>

                        <div class="col-md-3" style="display: inline-block">
                            <label>End of Phase 1: </label>
                            <br>
                            <label>
                                <input type="date" th:field="*{phaseOneEnd}"/>
                            </label>
                        </div>

                        <div class="col-md-3">
                            <label>Start of Phase 2: </label>
                            <br>
                            <label>
                                <input type="date" th:field="*{phaseTwoStart}"/>
                            </label>
                        </div>

                        <div class="col-md-3">
                            <label>End of Phase 2: </label>
                            <br/>
                            <label>
                                <input type="date" th:field="*{phaseTwoEnd}"/>
                            </label>
                        </div>
                    </div>
                    <label>Is the contest open? </label>
                    <label for="isOpen"></label><select id="isOpen" name="isItOpen"
                                                        th:field="*{isOpen}">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                    <br><br>

                    <div class="form-group has-feedback col-md-6">
                        <label>Invite participants </label>
                        <select th:field="*{users}" class="form-control ui dropdown container-fluid" multiple>
                            <option th:each="user : ${users}"
                                    th:unless="${user.isOrganizer() == true}"
                                    th:value="${user.getId()}"
                                    th:text="${user.username} + ' -> '+ ${user.getRanking()} + ' points'"
                            >
                            </option>
                        </select>

                    </div>
                    <div class="form-group has-feedback col-md-6">
                        <label>Invite jury </label>
                        <select th:field="*{jury}" class="form-control" multiple>
                            <option th:each="user : ${users}"
                                    th:if="${user.getRanking()>1000}"
                                    th:unless="${user.isOrganizer() == true}"
                                    th:value="${user.getId()}"
                                    th:text="${user.username} + ' -> '+ ${user.getRanking()} + ' points'"
                            >
                            </option>
                        </select>

                    </div>

                    <div class="col-md-6">
                        <label> Please upload a cover photo for this contest. </label>
                        <br>
                        <div class="form-group">
                            <input type="file" name="image" class="form-control-file">
                        </div>
                        <br/>
                        <label> You can also paste the link to the cover photo here. </label>
                        <div class="col-md-6">
                            <label>
                                <input type="text" th:field="*{coverPhoto}"/>
                            </label>
                            <br/><br/>
                        </div>
                        <div style="padding-bottom: 50px">
                            <label> Or you can choose between all previously uploaded photos. </label>
                            <select th:field="*{coverPhoto}">
                                <option th:each="photo : ${photos}"
                                        th:value="${photo.getPhoto()}"
                                        th:text="${photo.getTitle()}">
                                    CategoryOne
                                </option>
                            </select>

                            <label class="error" th:errors="*{categoryId}">Category error
                                placeholder</label>
                        </div>
              <!--          <ul>
                            <li th:each="photo : ${photos}">
                                <label>
                                    <input type="radio" th:field="*{coverPhoto}"
                                           th:value="${photo.getPhoto()}"
                                           th:href="@{/photos/{id} (id=${photo.getId()})}"/>
                                </label>
                                <label th:text="${photo.getTitle()}">Photo</label>
                            </li>
                        </ul> -->
                    </div>
                    <div style="position: center; padding-left: 25%; padding-right: 25%">
                        <input type="submit" value="Create a contest"/>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>


<footer th:replace="/fragments/footer.html :: footer"></footer>


<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-camera" aria-hidden="true"></i></a>

<script>
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
</script>


</body>
</html>