<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/responsive.css" th:href="@{/responsive.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/custom.css" th:href="@{/custom.css}">
    <script src="../js/modernizr.js" th:href="@{/modernizr.js}"></script> <!-- Modernizr -->

    <link rel="stylesheet" href="../static/slideshow.css" th:href="@{/slideshow.css}">
    <link rel="stylesheet" href="../static/demo.css" th:href="@{/demo.css}">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="../static/user-info.css" th:href="@{/user-info.css}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<nav th:replace="/fragments/organizer-navbar.html :: navbar"></nav>


<div style="margin-top: 90px; height: 40%; background: url('https://images.unsplash.com/photo-1543039717-b4d407223b4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1802&q=80');
    background-size: cover;">
    <div class="heading">
        <div class="gallery-menu text-center row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>

<div class="container emp-profile">
    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                         th:src="${wantedUser.getAvatar()}"
                         alt=""/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <p class="proile-rating">RANKING : <span
                            th:text="${wantedUser.getRanking()} + ' point(s)'"> 280 pts</span></p>
                    <div th:if="${wantedUser.isOrganizer() == false}">
                        <p><span th:if="${wantedUser.getRanking() < 51}">Rank: Junkie</span>
                            <span th:if="${wantedUser.getRanking() lt 151 and wantedUser.getRanking() gt 50}">Rank: Enthusiast</span>
                            <span th:if="${wantedUser.getRanking() lt 1001 and wantedUser.getRanking() gt 150}">Rank: Master </span>
                            <span th:if="${wantedUser.getRanking() > 1000}">Rank: Photo Dictator</span>
                        </p>
                    </div>
                    <div th:if="${wantedUser.isOrganizer() == true}">
                        <h5 th:text="#{rank.organizer}"> Rank: Organizer </h5>
                    </div>
                    <h5 th:text="'Full name: ' + ${wantedUser.getFirstName()} + ' ' + ${wantedUser.getLastName()}"></h5>
                    <h5 th:text="'Username: ' + ${wantedUser.getUsername()}"> m.karalev </h5>
                    <h5 th:text="'Email: ' + ${wantedUser.getEmail()}"> m.karalev@abv.bg </h5>
                    <h5 th:text="'User since: ' + ${#temporals.format(wantedUser.getDate, 'dd-MMM-yyyy')}">
                        02.05.2021 </h5>
                </div>

            </div>
            <div class="col-md-2" th:if="${wantedUser.getId() == user.getId()}">
                <a href="#" th:href="@{/users/update/{id} (id=${wantedUser.getId()})}">
                    <button type="button"
                            class="button-custom"
                            name="btnAddMore"
                            value="Edit Profile">Edit Profile
                    </button>
                </a>
            </div>



            <div class="col-md-2" th:if="${currentlyLoggedInUser.isOrganizer() == true && wantedUser.isOrganizer() == false }">

                    <form action=" " th:action="@{/users/{id}/promote (id=${wantedUser.getId()})}" method="post">
                    <button type="submit"
                            class="button-custom"
                            name="btnAddMore"
                            value="Edit Profile">Promoto
                    </button>
                    </form>

            </div>


        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <br>
                    <div class="row" style="border-bottom: 1px solid #9f9999">
                        <div class="col-md-6">
                            <label>Contests: </label>
                        </div>
                        <div class="col-md-6">
                            <span th:text="${wantedUser.getPhotos().size()}">3 </span>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #9f9999">
                        <div class="col-md-6">
                            <label>1st place: </label>
                        </div>
                        <div class="col-md-6">
                            <span th:text="${wantedUser.getFirstPrizes()} + ' time(s)'">3 </span>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #9f9999">
                        <div class="col-md-6">
                            <label>2nd place: </label>
                        </div>
                        <div class="col-md-6">
                            <span th:text="${wantedUser.getSecondPrizes()} + ' time(s)'">3 </span>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #9f9999">
                        <div class="col-md-6">
                            <label>3rd place: </label>
                        </div>
                        <div class="col-md-6">
                            <span th:text="${wantedUser.getThirdPrizes()} + ' time(s)'">3 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div style="border-top: 1px solid black">
                            <h5 style="text-align: center">Story</h5>
                        </div>
                        <div th:text="${wantedUser.getStory()}">
                            your story your story your story your story your story your story your story your
                            story
                            your
                            story your story your story your story your story
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width: 100%">
    <h5 style="text-align: center">User photos</h5>
</div>
<div class="row-contest">
    <div class="column" th:each="photo, photoCount : ${wantedUser.getPhotos()}">
        <div class="image-title">
            <!--            <input type="hidden" id="yourId" th:value="${photo.getId()}"/>-->
            <div>
                <div style="position: relative; text-align: center; color: white">
                    <div class="text-block" th:if="${photo.getContest().isFinished()}" th:text="${photo.getRanking()}">Position</div>
                    <div class="text-block" th:if="${photo.getContest().isPhaseTwo()}" th:text="#{phII}">Position</div>
                    <div class="text-block" th:if="${photo.getContest().isPhaseOne()}" th:text="#{phI}">Position</div>
                    <div class="text-block-fb" th:if="${wantedUser.getId() == user.getId()}">
                        <div th:if="${photo.getRanking() == 1 || photo.getRanking() == 2 || photo.getRanking() == 3}"
                             class="fb-share-button"
                             data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"
                             data-size="small">
                            <a target="_blank"
                               href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                               class="fb-xfbml-parse-ignore">Share</a>
                        </div>
                    </div>
                    <a href="#" th:href="@{/photos/{id} (id=${photo.getId()})}">
                        <img src="img_nature.jpg"
                             class="hover-shadow cursor img-grid" th:src="${photo.getPhoto()}" alt="contestEntry">
                    </a>

                </div>

                <a href="#" th:href="@{/photos/{id} (id=${photo.getId()})}">
                    <figcaption th:utext="#{title.dynamic(${photo.getTitle()})}"> Title</figcaption>
                </a>
                <a href="#" th:href="@{/contests/{id} (id=${photo.getContest().getId()})}">
                    <figcaption th:text="'Contest: ' + ${photo.getContest().getTitle()}"> Contest
                    </figcaption>
                    <span class="text-block" th:text="${photo.getRanking()}">Position</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v13.0"
        nonce="TdvNvcaB"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


</body>
</html>