body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: white;
}

* {
    box-sizing: border-box;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row-contest {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
}
.user-info-contest {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    border-bottom: 1px solid black;
}


.column {
    float: left;
    width: -moz-fit-content;
    width: fit-content;
    max-height: 250px;
    /*border: 1px double red;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.row-contest-entry {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    height: 450px;
}

.column-contest-entry {
    float: left;
    width: 47%;
    max-height: 400px;
    padding: 5px;
}

.info-image {
    border: 2px double #9f9999;
    box-shadow: white;
}

.contest-grid {
    vertical-align: top;
    text-align: center;
    width: 30%;
    border: 2px double #9f9999;
    max-height: 580px;
}

.img-grid-entry {
    max-width: 100%;
    max-height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #000000;
    margin: auto;
    padding: 0;
    width: 90%;
    height: 90%;
    max-width: 1200px;

}

.contest-info {
    padding: 10px;
    background-color: #f2f3f5;
}

.table-row {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    text-align: left;

}


.table-row-entry {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    text-align: left;
    width: 50%;
    /*box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);*/
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    /*top: 10px;*/
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: -45px;;
    border-radius: 3px 0 0 3px;
}

.prev {
    right: 1203px;;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgb(159, 153, 153);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.img-slideshow {
    height: 957px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-grid {
    max-width: 100%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-container {
    position: relative;
}

.image-title {
    border: #9a1d34;

}

.text-h3 {
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
    color: black;
}

body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #7c684c4f;
    overflow-x: hidden;
    padding-top: 85px;
    padding-bottom: 85px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    margin-right: 20%; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.review-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    height: 90%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
/*.container input {*/
/*    position: absolute;*/
/*    opacity: 0;*/
/*    cursor: pointer;*/
/*}*/

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

input[type="radio"] {
    border: 1px red solid;
    margin: 0 2px 0 10px;
}

.form-review {
    border: solid #bcbcbc;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-radio{
    border: 1px solid #bcbcbc;
    text-align: center;
    background-color: aliceblue;
}
textarea{
    width: 95%;
    height: 200px;
    padding: 10px;
    border:3px dashed indigo;
    background-color:aliceblue;
}

.submission-info{
    text-align: center;
    font-size: large;
    font-family: cursive;
}


.text-block {
    position: absolute;
    top: 0px;
    left: 0;
    width: 12%;
    background-color: black;
}

.text-block-fb {
    position: absolute;
    top: -4px;
    right: 69px;
    width: 12%;
}

