<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer" class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a th:if="${isAuthenticated}" th:href="@{/dashboard}">Home</a>
                    <a th:unless="${isAuthenticated}" th:href="@{/index}">Home</a>
                    <a th:if="${isAuthenticated}" th:href="@{/users/{id} (id=${userId})}">Your
                        profile</a>
                    <a th:href="@{/swagger-ui/}">Documentation</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2022 <a href="#">CleanPhotography</a>
            </div>
        </div>
    </div><!-- end container -->
</footer><!-- end copyrights -->
</body>
</html>